@model testi2.Context.users

@{
    ViewBag.Title = "Create";
}

<h2>Creación</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuarios</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group hidden">
            @Html.Label("description", "Id", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Nombres", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Apellidos", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userLastNamel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userLastNamel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Teléfono", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Email", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.userPass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userPass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userPass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Ciudad", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userCityId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userCityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.userCreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userCreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userCreateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Estado", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("userState", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.userState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @(Html.ActionLink("Volver al listado", "index", new { id = "" }, new { @class = "btn btn-danger" }))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
