@model testi2.Context.users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userLastNamel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userLastNamel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userCityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userCityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userCreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userCreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_state.sta_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_state.sta_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
