@model testi2.Context.tb_users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.us_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_cityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_cityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_state.sta_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_state.sta_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.us_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
