@model IEnumerable<testi2.Context.users>

@{
    ViewBag.Title = "Index";
}

<h2>Reporte de usuarios</h2>

<p>
    @(Html.ActionLink("Crear nuevo", "create", new { id = "" }, new { @class = "btn btn-info" }))
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("description", "Nombre")
        </th>        
        <th>
            @Html.Label("description", "Teléfono")
        </th>
        <th>
            @Html.Label("description", "Email")
        </th>        
        <th>
            @Html.Label("description", "Ciudad")
        </th>
        <th>
            @Html.Label("description", "Fecha de creación")
        </th>
        <th>
            @Html.Label("description", "Estado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName) @Html.DisplayFor(modelItem => item.userLastNamel)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.userPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userEmail)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.userCityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userCreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_state.sta_name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.userId }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.userId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.userId })
        </td>
    </tr>
}

</table>
