@model testi2.Context.tb_stock

@{
    ViewBag.Title = "Create";
}

<h2>Creación de producto</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Inventario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("description","Descripción", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sto_descript, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sto_descript, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Estado", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sto_state", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sto_state, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Cantidad disponible", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sto_avaible, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sto_avaible, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Preio de compra", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sto_buyPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sto_buyPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Precio de venta", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sto_salePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sto_salePrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "icono", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sto_url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sto_url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Proveedor", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sto_provId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sto_provId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("description", "Categoría", new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sto_category", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sto_category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    
    @(Html.ActionLink("Volver al listado", "index",new { id=""}, new { @class = "btn btn-danger" }))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
